body {
  width: 960px;
  margin: 0 auto;
  font-family: D2Coding, 'D2 coding', monospace;
}
ul {
  display: table-cell;
}
a {
text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
